@import '~@angular/material/theming';
@include mat-core();
$primary: mat-palette($mat-indigo);


.active-route {
  background: mat-color($primary, 100);
}
.mat-list-item:hover {
  background: none;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

