<div class="animated fadeIn">
    <div class="row" *ngIf="latest && fastest">
        <div class="col text-center">
            <div class="d-flex align-items-center justify-content-center w-100 h-100">
                <div>
                    <h1>
                        {{latest.temperature_f | round}}&deg;F
                    </h1>
                    <span>Current Temperature</span>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="progress-wrapper">
                <div class="current">
                    <span>
                        <h1>{{ latest.ticks | mph | round }} MPH</h1>  
                    </span>
                </div>
                <round-progress rounded="true" responsive="true" [current]="latest.ticks" [max]="fastest.ticks"></round-progress>
            </div>
        
          

        </div>
        <div class="col text-center">
            <div class="d-flex align-items-center justify-content-center w-100 h-100">
                <div>
                    <h1>
                        {{latest.humidity | round}}%
                    </h1>
                    <span>Current Humidity</span>
                </div>
            </div>
        </div>
    </div>
    
</div>

<style>
    .progress-wrapper{
      position: relative;
    }
    .current{
        width:100%;
        height:100%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>
