<div class="animated fadeIn">
    <div class="row" *ngIf="latest">
        <div class="col text-center">
            <div class="d-flex align-items-center justify-content-center w-100 h-100">
                <div>
                    <h1>
                        {{latest.temperature_f}}
                    </h1>
                    <span>Current Temperature</span>
                </div>
            </div>
        </div>
        <div class="col">
            <div>{{latest.ticks}}</div>
          
        </div>
        <div class="col text-center">
            <div class="d-flex align-items-center justify-content-center w-100 h-100">
                <div>
                    <h1>
                        {{latest.humidity}}
                    </h1>
                    <span>Current Humidity</span>
                </div>
            </div>
        </div>
    </div>
    
</div>
