// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";

body{
    background-color: $gray-900;
    color: $white;
}

.breadcrumb, .app-header{
    border-bottom: 1px solid #23282c;
}
.sidebar{
    border-right: 1px solid #23282c;
}
.sidebar .nav-link:hover{
    color: #23282c;
}

.sidebar .nav-link:hover .nav-icon{
    color: #23282c;

}

.table {
    background-color: $gray-800 !important;
}

.card {
    background-color: transparent;
}
.table-striped tbody tr:nth-of-type(2n+1){
    background-color: rgba(0, 0, 0, 0.2)
}